
<section id="cv">
    <div class="container">
        <h2><strong>Curriculum Vitae</strong></h2>
        <span class="bar-title mb-5"></span>
        <div class="row">
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
                <h4><strong>Education</strong></h4>
                <ul class="timeline">
                    <li>
                        <h5>Bachelor Degree</h5>
                        <em class="font-italic">Bachelor of Computer Science<br>University of Nairobi</em>
                        <p class="year p-2 d-flex justify-content-center">2017 - 2022</p>
                    </li>
                    <li>
                        <h5>Diploma</h5>
                        <em class="font-italic">Bachelor of Computer Science<br>University of Nairobi</em>
                        <p class="year p-2 d-flex justify-content-center">2017 - 2019</p>
                    </li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
                <h4><strong>Experiences</strong></h4>
                <ul class="timeline">
                    <li *ngFor="let experience of experiences;">
                        <h5>{{experience.title}}</h5>
                        <em>{{experience.company}}</em>
                        <div class="d-flex flex-row">
                            <p class="year p-2 d-flex justify-content-center">{{experience.period}}</p>
                            <button (click)="detailOnClick(experience)" type="button"
                                class="btn btn-primary">
                                <span *ngIf="!experience.detailIsDisplayed">+</span><span *ngIf="experience.detailIsDisplayed">-</span>Details</button>
                        </div>
                        <p *ngIf="experience.detailIsDisplayed">
                             <strong>Technologies:</strong> <b>{{experience.technologies}}</b>
                             <br>
                             <br>
                            <span *ngFor="let mission of experience.missions;let index = index">
                                <strong>Mission {{index+1}}: </strong>{{mission}} <br>
                            </span>
                        </p>
                    </li>

                </ul>
            </div>
            <div class="col-lg-4 col-md-12 aos-init aos-animate " data-aos="fade-up" data-aos-delay="300" style="margin-left: 20px;">
                <div class="container row">
                    <div class="aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
                        <h4><strong>Languages</strong></h4>
                        <div class="noProgress languages">
                            <span class=""><img src="assets/images/france-flag.png" width="20"
                                    alt="drapeau de la france"><strong> French</strong> <i class="val">
                                        Beginner</i></span>
                        </div>
                        <div class="noProgress anguages">
                            <span class=""><img src="assets/images/united-kingdom-flag.png" width="20"
                                    alt="drapeau du royaume uni"><strong> English</strong> <i class="val"> Expert</i></span>
                        </div>
                    </div>
                </div>
                <div class="container row">
                    <div class="mt-4 aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
                        <h4><strong>Center of interest</strong></h4>
                        <div class="noProgress languages">
                            <span>
                                <fa-icon [icon]="swimmingIcon"></fa-icon><strong> Sports </strong> <i class="val">
                                    Swimming</i>
                            </span>
                        </div>

                        <div class="noProgress languages">
                            <span>
                                <fa-icon [icon]="planeIcon"></fa-icon><strong> Travelling </strong> <i class="val">
                                   Worldwide </i>
                            </span>
                        </div>
                        <div class="noProgress languages">
                            <span>
                                <fa-icon [icon]="cookingIcon"></fa-icon><strong> Cooking </strong> <i class="val">
                                    Culinary Experimentation </i>
                            </span>
                        </div>
                        <div class="noProgress languages">
                            <span>
                                <fa-icon [icon]="documentaryIcon"></fa-icon><strong> Documentaries </strong> <i class="val">
                                Educational Media </i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
